@font-face{
	font-family: "Tahoma";
	src:url("fonts/tahoma.ttf");
}
body{
	font-family: "Tahoma" !important;
}
.isi p{
	line-height: 0.9 !important;
}

#pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#pageloader img
{
  left: 45%;
  margin-left: -32px;
  margin-top: -32px;
  position: absolute;
  top: 40%;
}

#loading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/loading.gif) 50% 50% no-repeat #fff;
	background-color: rgba(255,255,255,0.5);
}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.form tr td{
	padding: 0 10px 0 10px !important;
}
.navbar-1{

	background: #333;
	margin: 0;
	height: 25px;
	-webkit-transition: position 10s;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: position 10s;
	
}
.nav-1{
	display: inline-block;
}
.nav-1 li{
	display: inline-block;
	padding: 0 10px 0 10px;
	color: #fff;
}
.nav-1 li a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.nav-1 li:hover a{
	color: #9dc1b8;
}
.navbar-2{
	background: #17c59a;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  .dropdown{
  	display: none;
  }
  .dropdown:hover ul li a{
  	color: #333;
  }
 
 .dropdown-menu li a{
 	color: #333;
 }
 
/* ======================================= FOOTER ==================================*/
.footer{
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%; 
}
.size-16{
	font-size: 15px !important;
}


.confirm{
	display: none;
}
.aktif{
	display: block;
}
/* ==================================== Notification ==============================*/
.msg{
	margin: auto !important;
	width: 80%;
	position: absolute !important;
	z-index: 9999 !important;
	top: 100px !important;
	text-align: center;
	font-size: 30px !important;
}

/* ================================== report ======================================*/
.head{
	text-align: center;
}

.print{
	margin-bottom: 100px;
}
.ttd{
	float: right;
	margin-right: 200px;
}
div.dataTables_wrapper {
        margin: 0 auto;
    }

/*================================== lookup =======================================*/

#lookup_previous, #lookup_next, .paginate_button{
	padding: 5px;
	cursor: pointer;
}

.jumbotron{
	text-align: center;
}
#pRequest-table_length{
	width: 500px;
}


/*========================================= Retive ======================================*/

.retrive{
	background: rgba(0,0,0,0.3);
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}
.retrive-main1{
	margin: auto;
	margin-top: 50px;
	width: 80%;
	background: #fff;
	height: 80%;
}
.retrive-main{
	margin: auto;
	width: 90%;
	background: #fff;
	height: 90%;
}
.data{
	margin-top: 20px;
}





.step-3{
	margin-left:60px !important;
}

@media screen and (max-width: 1199px) {
	.step-3{
		margin-left: 40px !important;
	}
}

@media screen and (max-width: 767px) {
	.step-1{
		width: 100% !important;
	}
	.step-3{
		width: 100% !important;
		margin-left: 0 !important;
	}
}
#branch-name{
	background: none;
	color: #fff;
	border: none;
	padding: 5 0 0 0;
	cursor: default;
	width: 130px;
}
#branch-1{
	background: none;
	color: #fff;
	border: none;
	padding: 5 0 0 0;
	width: 70px;
	cursor: default;
}
#drop-user:hover .drop{
	display: block;
	position: absolute;	
	background: rgba(0,0,0,0.7);
	margin: 0;

}
.drop{
	display: none;
	position: absolute;	
	background: rgba(0,0,0,0.7);
	z-index: 9999;
	-moz-transition : all .2s ease-in;
	-webkit-transition : all .2s ease-in;
	transition : all .2s ease-in;
	margin: 0;

}
.drop li{
	text-align: center;
	padding: 10px;
	display: block;
}
.drop li:hover{
	background: rgba(0,0,0,0.7);
}
.drop li:hover a{
	color: #fff;
}
/*
#user:hover .drop{
	position: absolute;
	right: 0;
	height: 300px;
	width: 280px;
	background: #333;
	z-index: 9999;
	-moz-transition : all .3s ease-in;
}
*/
.drop:hover .change{
	display: block;
	position: fixed;
	width: 285px !important;
	height: 400px;
	background: #333;
	right: 0;
	margin: 0;
	margin-top: 10px;
	z-index: 999;
}
.change{
	display: block;
	position: fixed;
	width: 0;
	height: 400px;
	background: #333;
	right: 0;
	margin: 0;
	margin-top: 10px;
	z-index: 999;
	-moz-transition : all .2s ease-in;
	-webkit-transition : all .2s ease-in;
	transition : all .2s ease-in;
}
.subnavbar{
	margin-bottom: 0 !important;
}
.btn-show{
	display: none;
}
.modal.fade{
	display: none;
}

.notif{
	background: url(../img/body-bg.png);
	display: none;
	height: 60%;
	width: 330px;
	position: fixed;
	z-index: 9999 !important;
	border-left: 10px solid #17c59a;
	border-bottom: 5px solid #17c59a;
	border-right: 5px solid #17c59a;
	border-top: 2px solid #333;
	padding: 10px 2px 2px 0;
	overflow: auto;
}
.notif-main{
	border: 1px solid #d8d1d1;
	display: block;
	position: relative;
	width: 320px;
	padding: 5px;
	height: 60px;
	background: #fff;
	margin-top: 2px;
	margin-bottom: 2px;

}
#dataPolicy thead tr th, #dataPolicy tbody tr td{
	width: 100px;
}
.previewClass{
	padding: 30px;
	top: 0px;
	left: 0px;
	display: none;
	position: fixed;
	width: 96%;
	height: 100%;
	/*background: white;*/
	background: url(../img/body-bg.png);
	z-index: 9999;
	margin: 0;
}
.preview{
	position: relative;
	display: block;
	width: 98%;
	height: 80%;
	overflow: auto;
	margin-top: 2px;
	padding: 10px;
	border-top: 1px double #333;
}
.btn-preview{
	border-top: 2px double #333;
	position: relative;
	margin-top: 2px;
	margin-top: 1px;
	display: block;
	padding: 20px;
}

#drop-info:hover .info{
	display: block;
}
.info{
	display: none;
	position: absolute;
	width: 250px;
	height: 200px;
	background: #fff;
	border: 1px solid #333;
	z-index: 9999999;
	padding-top: 5px;
	padding-right: 15px;
}

.info ul li{
	display: block;
	color: #333 !important;
}

#EDIT_TABLE_ADD, #label, #reset-add-retrive{
	display: none;
}

.css-serial {
  counter-reset: serial-number;  /* Atur penomoran ke 0 */
}
.css-serial #nomor:after {
  counter-increment: serial-number;  /* Kenaikan penomoran */
  content: counter(serial-number);  /* Tampilan counter */
}

.txt,#totalInstallment{
	background: url(../img/body-bg.png);
    color: #838383;
    width:50%; 
    border:none; 
    text-align:right; 
    padding-right:0; 
    font-size:15px;
    font-family: "Tahoma" !important;
}

.text-center
{
    text-align: center !important;
}

/*div.dataTables_wrapper {
    width: 1100px;
    margin: 0 auto;
}*/
/*
th,td{white-space:nowrap;}

#table-installment-list-finance-paid {
  overflow: auto;
}*/